body {
    background-color: #999999;
  }

.board_inner, table {
    border-collapse: collapse;
    padding: 0;
    font-size: 0;
}

div { text-align: center; }

.tint {
    filter: sepia(100%) saturate(200%) hue-rotate(220deg);
}